.cart {
    background: rgba(255, 153, 0, 0.3);
    padding: 25px;
    position: sticky;
    top: 0px;
}

.cart p {
    font-size: 18px;
}

.btn-clear-cart {
    width: 95%;
    margin: 10px auto;
    display: flex;
    color: white;
    font-size: 18px;
    height: 55px;
    justify-content: space-between;
    background: #FF3030;
    border-radius: 4px;
    align-items: center;
}